<header id ="nav-header">
    <div id="menu-wrapper">
        <div class="menu-title">
            MyFace
        </div>
        <nav id="navbar-menu">
            <a class="menu-anchor" href="/">Home</a>
            <a class="menu-anchor" href="/posts">Posts</a>
            <a class="menu-anchor" href="/users">Users</a>            
        </nav>
        <a class="menu-anchor" href="/posts/create">+ New Post</a>
        <div class="logo">
            <p>
                logo
            </p>
        </div>
    </div>
</header>
<body>