<header id ="nav-header">
    <button id="close-nav-menu" onclick="closeNavMenu_Click()"> X </button>
    <div id="menu-wrapper">
        <div class="menu-title">
            MyFace
        </div>
        <nav id="navbar-menu">
            <a class="menu-anchor" href="/">Home</a>
            <a class="menu-anchor" href="/posts">Posts</a>
            <a class="menu-anchor" href="/users">Users</a>            
        </nav>
        <a class="menu-anchor" href="/posts/create">+ New Post</a>
        <div class="logo">
            <img src="/assets/techswitch.webp" alt="TechSwitch Logo" width="250em">
            <img src="/assets/softwire.png" alt="Softwire Logo" width="150em">
        </div>
    </div>
</header>
<body>