:root {
    --background-colour: #252a38;
    --darker-background-colour: #151820;
    --foreground-colour: #dcdcdc;
    --primary-colour: #2985ff;
    --secondary-colour: #252a3885;
    --text-colour : white;

    --mobile-gutter: 1.5em;
    --mobile-section-spacing: 2.5em;
    --mobile-card-padding: 1em;

    --mobile-font-size-title: 1.5em;
    --mobile-font-size-subtitle: 1.25em;
    --mobile-font-size-button: 1.25em;
    --mobile-font-size-body: 0.875em;
    --mobile-font-size-secondary: 0.635em;


    --tablet-gutter: 2em;
    --tablet-section-spacing: 3em;
    --tablet-card-padding: 1em;

    --desktop-gutter: 3em;
    --desktop-section-spacing: 5em;
    --desktop-card-padding: 1.5em;

  }

*{
    padding: 0;
    margin: 0;

}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: var(--background-colour);
    color: var(--text-colour);
}

.menu-button{
    position: fixed;
    z-index: 99;
    right: 0;
    top: 0;
}
/* 
.interraction-wrapper form{
    display: inline;
}

.interraction-wrapper form button{
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: var(--background-colour);
    border: 1px solid white;
    cursor:pointer;

}

.post-list, .user-list{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-top:20px;
    margin-bottom:20px;
}

.post, .user{
    display:flex;
    background-color: #c5b2f7;
}

.user{
    background-color: #de902a;
}

.post-details{
    padding: var(--mobile-card-padding);
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

section{
    margin: var(--mobile-section-spacing) 0; 
}


/* Starts Here User Detail Header */

.user-header{
    height: 18.875em;
    position: relative;

}

.user-cover_image{
    height:13.75em;
    width: 100vw;
    object-fit: cover;
    object-position: center;
}

.user-details{
    left: 30px;
    position: absolute;
    bottom: 10px;
    display: flex;
    gap: var(--mobile-card-padding);
    flex-direction: row;
    background-color: #15182054;
    width: 100%;
    border-top-left-radius: 10em;
    border-bottom-left-radius: 10em;
}

.user-profile_image{
    border-radius: 100%;
    border: 5px solid var(--text-colour);
    height: 8em ;
    width:  8em ;
    object-fit: cover;
    background-color: var(--foreground-colour);
}

.user-details_texts{
    display: flex;
    flex-direction: column;
   justify-content: center;
}

.user-user-name{
    font-size: var(--mobile-font-size-secondary);
    color: var(--text-colour);
    font-weight: 400;
}

.user-name{
    margin-bottom: 5px;
}

.user-user-email{
    font-size: var(--mobile-font-size-secondary);
    color: var(--foreground-colour);
    font-weight: 300;
}

/* Title */
.post-title{
    font-size: var(--mobile-font-size-subtitle);
    font-weight: 400;
    margin: var(--mobile-gutter);

}

/* Starts Here User Detail Main */

.user-post_list{
    display: flex;
    overflow: auto;
    gap: var(--mobile-gutter);
    padding: 0 0 0 var(--mobile-gutter); 
}

.user-post{
    display: flex;
    flex-direction: column;
    max-width: 90vw; 
    height: 350px;
    background-color: var(--darker-background-colour);
}

.user-post_image{
    width: 300px;
    height: 200px;
    object-fit: cover;
} 

.user-post_details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
    

}

.user-post_details-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: var( --mobile-font-size-subtitle);
}

.user-date{
    font-size: var(--mobile-font-size-secondary);
    color: var(--foreground-colour);
}

.user-post_details-message{
    font-size: var(--mobile-font-size-body);

}

#nav-header {
    position: fixed;
    height: 100vh;
    width: 75vw;
    background-color: var(--darker-background-colour);
    right: 0;
    top: 0;
    z-index: 1;
}
#menu-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 75vw;
}

.menu-title{
    margin-top: 100px;
    font-size: var(--mobile-font-size-title);
}

#navbar-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px; 
    font-size: var( --mobile-font-size-subtitle);
}

#navbar-menu a{
    color: var(--foreground-colour);
    text-decoration: none;
}

#navbar-menu a:hover {
    color: var(--primary-colour);
    text-decoration: none;
}

.addblur{
    filter: blur(5px);
}

.menu{
    display: flex;
}

@media only screen and (min-width: 850px) {
    .post-list, .user-list{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .post, .user{
        max-width: 425px;
        flex-grow: 1;
    }
} 
